.page-footer{
    padding-bottom: 20px;
}
.page-footer_cont{
    display: flex;
    text-align: center;    
}
.page-footer_contact-container{
    margin-right: 250px;
}

.page-footer-icon-container{
    margin-right: 250px;
}
.page-footer_form{
    display: flex;
    gap: 20px;
}