.page-main_gallery-list{
    display: flex;
    justify-content: space-between;
}
.page-main_gallery-li{
    width: 100px;
    height: 50px;
    border-radius: 1px;
    background-color: #0e0101be;
}
.page-main_gallery{
    margin-bottom: 30px;
}